# Example showtimes URL: https://uae.voxcinemas.com/movies/<movie>
SHOWTIMES_URL=<ADD-VOX-CINEMA-MOVIE-URL>

# How the topic will appear: https://ntfy.sh/<YOUR-NTFY-TOPIC-HERE>
NTFY_TOPIC=<YOUR-NTFY-TOPIC-HERE>
