name: Check Showtimes

on:
  # schedule:
    # - cron: "0 * * * *"   # Every hour on the hour (UTC)
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      SHOWTIMES_URL: ${{ vars.SHOWTIMES_URL }}
      NTFY_TOPIC: ${{ vars.NTFY_TOPIC }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Restore cached state
        id: cache-json
        uses: actions/cache@v5
        with:
          path: state.json
          key: showtimes-state-main
          restore-keys: |
            showtimes-state-

      - name: Run script
        run: go run main.go

      - name: Save updated JSON state
        uses: actions/cache/save@v5
        with:
          path: state.json
          key: showtimes-state-${{ github.run_id }}
